<div
  class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
  style="
    min-height: 400px;
    background-image: url(assets/img/theme/profile-cover.jpg);
    background-size: cover;
    background-position: center top;
  "
>
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="col-lg-7 col-md-10">
      <h1 class="display-2 text-white">Ajouter patient</h1>
      <button type="button" class="btn btn-info" (click)="list()">
        Revenir à la liste des patients
      </button>
    </div>
  </div>
</div>

<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-12 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Informations patient</h3>
            </div>
          </div>
        </div>
        <div [hidden]="submitted">
          <form (ngSubmit)="onSubmit()">
            <div class="card-body">
              <form>
                <h6 class="heading-small text-muted mb-4">
                  Informations personnelles
                </h6>
                <div class="row">
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label" for="name">Nom</label>
                      <input
                        type="text"
                        class="form-control"
                        id="nom"
                        required
                        [(ngModel)]="patient.nom"
                        name="nom"
                      />
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label" for="name"
                        >Prenom</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        id="prenom"
                        required
                        [(ngModel)]="patient.prenom"
                        name="prenom"
                      />
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label" for="name"
                        >Date de naissance</label
                      >
                      <input
                        type="date"
                        class="form-control"
                        id="dateNaissance"
                        required
                        [(ngModel)]="patient.dateNaissance"
                        name="dateNaissance"
                      />
                    </div>
                  </div>
                </div>

                <hr class="my-4" />

                <!-- Compte -->
                <h6 class="heading-small text-muted mb-4">
                  Informations compte
                </h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="name"
                          >Nom d'utilisateur</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          id="username"
                          required
                          [(ngModel)]="patient.username"
                          name="username"
                        />
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="name"
                          >Mot de passe</label
                        >
                        <input
                          type="password"
                          class="form-control"
                          id="password"
                          required
                          [(ngModel)]="patient.password"
                          name="password"
                        />
                      </div>
                    </div>
                  </div>
                </div>

                <hr class="my-4" />

                <!-- Address -->
                <h6 class="heading-small text-muted mb-4">
                  Contacts
                </h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="name"
                          >Email</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          id="email"
                          required
                          [(ngModel)]="patient.email"
                          name="email"
                        />
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="name"
                          >Teléphone</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          id="tel"
                          required
                          [(ngModel)]="patient.tel"
                          name="tel"
                        />
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Description -->
              </form>
            </div>
            <button
              type="submit"
              class="btn btn-success"
              style="width: 200px; margin-left: 820px; margin-top: 10px;"
            >
              Ajouter
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div [hidden]="!submitted">
    <h4>You submitted successfully!</h4>
  </div>
</div>
